<div class="flex items-center justify-between gap-4">
  <div>
    <p class="text-white"><%= title %></p>
    <span class="text-gray-400 text-sm">/ Person</span>
  </div>
  <span class="text-5xl text-teal-300 font-semibold">$<%= money_format amount %></span>
</div>